image: node:16.17.0

pipelines:
  branches:
    '{main}':
      - step:
          name: 'Install, Test and Build'
          caches:
            - node
          script:
            - npm install
            - >
              apt-get update && \
                wget https://dl.google.com/linux/direct/google-chrome-stable_current_amd64.deb && \
                apt install -y ./google-chrome*.deb && \
                export CHROME_BIN=/usr/bin/google-chrome
            - npm run test:ci
            - npm run build
          artifacts:
            - dist/**
      - step:
          name: Deploy to Azure
          deployment: test
          script:
            - pipe: microsoft/azure-static-web-apps-deploy:main
              variables:
                APP_LOCATION: '$BITBUCKET_CLONE_DIR'
                OUTPUT_LOCATION: '$BITBUCKET_CLONE_DIR/dist/angular-basic'
                API_TOKEN: deployment_token
