.card-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
}

.card {
  width: 100%;
  background: rgba(43, 162, 226, 0.09);
  box-sizing: border-box;
}

.card-name {
  font-size: 18px;
  display: block;
  margin-bottom: 18px;
}

.card-amount {
  font-size: 25px;
  font-weight: 500;
  display: block;
}
