.container {
  display: flex;
  justify-content: center;
  align-items: end;
  background: #232F3E;
  height: 150px;
  padding-bottom: 14px;
  box-sizing: border-box;
  position: sticky;
  top: 0;
  z-index: 99;
}

.spacer {
  flex: 1 1 auto;
}

.tool-bar {
  background: transparent;
  color: white;
  height: max-content;
}

.logo {
  width: 35px;
  margin-right: 8px;
  object-fit: contain;
}

.logo-container {
  margin-bottom: 20px;
  display: flex;
  align-items: start;
  cursor: pointer;
}

.logo-text-container span:first-child {
  display: block;
  line-height: 1;
  font-weight: bold;
  letter-spacing: 4px;
  font-size: 28px;
  margin-bottom: 4px;
}

.logo-text-container span:last-child {
  display: block;
  font-size: 15px;
  line-height: 1;
  color: #d5d5d5;
}

a {
  color: #bbbbbb;
  text-decoration: none;
  font-size: 15px;
  margin-right: 5px;
  padding: 8px 12px;
  border-radius: 8px;
  transition: .3s;
  border-bottom: 2px solid transparent;
}

a:hover {
  color: white;
}

a.active {
  color: white;
  border-color: #FEBD69;
}
