.card-panel-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  align-items: center;
}

.year-selector {
  width: 90px;
}

:host ::ng-deep .mat-form-field-wrapper {
  margin: 0 !important;
  padding: 0;
}

.chart {
  margin-bottom: 15px;
}

table {
  width: 100%;
}
