<div class="container page">
  <mat-card class="card-panel card-container">
    <div class="card-panel-header">
      <h1 class="title">Sign in</h1>
    </div>

    <form [formGroup]="authForm" (ngSubmit)="onSubmit()">
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Username</mat-label>
        <input matInput [formControl]="authForm.controls.username">
      </mat-form-field>

      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Password</mat-label>
        <input matInput type="password" [formControl]="authForm.controls.password">
      </mat-form-field>

      <button class="submit-button" mat-raised-button color="accent" type="submit" [disabled]="!authForm.valid">
        Submit
      </button>
    </form>

  </mat-card>
</div>
