.container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 100px;
}

.card-container {
  max-width: 560px;
}

.full-width {
  width: 100%;
}

.submit-button {
  margin-top: 16px;
  width: 100%;
  padding: 4px 0;
  font-weight: bold;
}
